/* --jet: #2d2d2aff;
--davys-grey: #4c4c47ff;
--cool-grey: #848fa5ff;
--bittersweet-shimmer: #c14953ff;
--bone: #e5dcc5ff; */

body{
    font-family: 'Segoe UI', sans-serif;
    background-color: #848fa5ff;
    color: #2d2d2aff;
    margin: 2%;
}

div{
    border: solid green 2px;
}

.name-pic-info{
    text-align: center;
}

.titles{
    font-family: Georgia, serif;
}

.pictures{
    /* width: 75%; */
    background-color: #e5dcc5ff;
    /* padding: 20px; */
}

.pic-info{
    font-family: Helvetica, Arial;
    display: flex;
    /* vertical-align: middle; */
}

.main-text{
    padding: 2%;
}

.lists{
    padding: 2%;
    margin: 2%;
}

.links{

}

#titles-name{

}

#selfie{
    width: 46%;
    padding: 2%;
}

#list-index{
    font-size: 1.4em;
    text-align: center;
    text-decoration: none;
}

#description{
    font-size: 1.1em;
    color: #4c4c47ff;
    width: 50%;
}

#list-skills{
    font-size: 1.1em;
    color: #c14953ff;
}

ul li:nth-of-type(odd){
    color: #9d2a33;
}

#link-internal{
    text-decoration: none;
    color: #e5dcc5ff;
    padding: 2%;
}

#link-selfie{

}

#link-external{
    color: #e5dcc5ff;
    text-decoration: none;
    font-size: 1.4em;
    padding: 1%;
}
